---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Buttons from "../components/Buttons.astro";
import Perfil from "../components/Perfil.astro";
---

<Layout title="Santiago Mojica">
    <div class="container min-h-[100svh] p-2 mx-auto bg-dark">
        <Header />
        <Buttons />
        <Perfil />
    </div></Layout
>
