<div class="grid grid-cols-12 gap-3 p-3 items-center w-full text-light text-sm">
    <button
        class="rounded-lg h-10 col-span-4 bg-secondary hover:scale-105 transition-transform ease-in">
        Descargar cv
    </button>
    <button
        class="rounded-lg h-10 col-span-8 bg-primary hover:scale-105 transition-transform ease-in">
        Trabajemos juntos
    </button>
</div>
