<header class="grid grid-cols-12 gap-3 p-3 items-center w-full">
    <span class="col-span-4 mx-auto">
        <img
            src="foto.jpeg"
            alt="Perfil"
            class="rounded-[50%] w-24 sm:w-28 md:w-32 lg:w-36 xl:w-40"
        />
    </span>
    <span class="col-span-8 flex flex-col justify-between">
        <h1 class="text-light text-3xl">Santiago Mojica</h1>
        <h4 class="text-primary text-sm">Desarrollador de software</h4>
        <span class="flex flex-row gap-x-2">
            <img src="location.svg" alt="Ubicacion" />
            <h5 class="text-light text-sm">Medellin, Colombia</h5>
        </span>
    </span>
</header>
