<header class="flex justify-around gap-x-4 p-4 items-center w-full">
    <span>
        <img src="foto.jpeg" alt="Perfil" width="90px" class="rounded-[50%]" />
    </span>
    <span class="flex flex-col justify-between">
        <h1 class="text-light text-3xl">Santiago Mojica</h1>
        <h6 class="text-primary text-sm">Desarrollador de software</h6>
        <span class="flex flex-row gap-x-2">
            <img src="location.svg" alt="Ubicacion" />
            <h6 class="text-light text-sm">Medellin</h6>
        </span>
    </span>
</header>
